<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.firebase.cloudmessaging" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>OSFirebaseCloudMessaging</name>
  <description>Outsystems plugin for Firebase Cloud Messaging</description>
  <author>OutSystems Inc</author>
  <js-module name="OSFirebaseCloudMessaging" src="www/OSFirebaseCloudMessaging.js">
    <clobbers target="cordova.plugins.OSFirebaseCloudMessaging"/>
  </js-module>

  <dependency id="cordova-outsystems-firebase-core" url="https://github.com/OutSystems/cordova-outsystems-firebase-core.git#1.0.0"/>
  
  <platform name="ios">

    <!-- Hooks -->
    <hook type="before_plugin_install" src="hooks/add_cordova_implementation_ios.js"/>
    <hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
    <hook type="after_plugin_add" src="hooks/add_swift_support.js"/>

    <config-file parent="/*" target="config.xml">
      <feature name="OSFirebaseCloudMessaging">
        <param name="ios-package" value="OSFirebaseCloudMessaging"/>
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>

    <config-file target="*-Debug.plist" parent="aps-environment">
      <string>development</string>
    </config-file>
    <config-file target="*-Release.plist" parent="aps-environment">
      <string>production</string>
    </config-file>

		<!-- iOS Source Files -->
		<source-file src="src/ios/OSFirebaseCloudMessaging.swift"/>
    <source-file src="src/ios/CordovaImplementation.swift" />
    <header-file src="src/ios/AppDelegate+OSFirebaseCloudMessaging.h" />
    <source-file src="src/ios/AppDelegate+OSFirebaseCloudMessaging.m" />
    <framework src="src/ios/frameworks/OSCore.xcframework" embed="true" custom="true" />
    <framework src="src/ios/frameworks/OSFirebaseMessagingLib.xcframework" embed="true" custom="true" />

  </platform>

  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSFirebaseCloudMessaging">
        <param name="android-package" value="com.outsystems.firebase.cloudmessaging.OSFirebaseCloudMessaging"/>
      </feature>
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml"/>

    <source-file src="src/android/com/outsystems/firebase/cloudmessaging/OSFirebaseCloudMessaging.kt" target-dir="src/com/outsystems/firebase/cloudmessaging"/>
    <resource-file src="src/android/lib/OSFirebaseMessagingLib-debug.aar" target="libs/OSFirebaseMessagingLib-debug.aar" />
    <framework src="com.github.OutSystems.os-plugins-base-interface:oscore-android:core-0.0.3@aar" />

  </platform>
  
</plugin>