<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.firebase.cloudmessaging" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>OSFirebaseCloudMessaging</name>
  <description>Outsystems plugin for Firebase Cloud Messaging</description>
  <author>OutSystems Inc</author>
  <js-module name="OSFirebaseCloudMessaging" src="www/OSFirebaseCloudMessaging.js">
    <clobbers target="cordova.plugins.OSFirebaseCloudMessaging"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="OSFirebaseCloudMessaging">
        <param name="ios-package" value="OSFirebaseCloudMessaging"/>
      </feature>
    </config-file>
    <source-file src="src/ios/OSFirebaseCloudMessaging.m"/>
    <header-file src="src/ios/OSFirebaseCloudMessaging.h"/>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSFirebaseCloudMessaging">
        <param name="android-package" value="com.outsystems.firebase.cloudmessaging.OSFirebaseCloudMessaging"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/com/outsystems/firebase/cloudmessaging/OSFirebaseCloudMessaging.java" target-dir="src/com/outsystems/firebase/cloudmessaging"/>
  </platform>
</plugin>